<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Agregar Pregunta</title>
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <div class="form-container">
    <h2>➕ Agregar Nueva Pregunta</h2>

    <form action="/admin/new" method="POST" class="question-form">
      <label>Texto de la pregunta:</label>
      <input type="text" name="questionText" required>

      <label>Opciones:</label>
      <input type="text" name="option1" placeholder="Opción 1"required>
      <input type="text" name="option2" placeholder="Opción 2"required>
      <input type="text" name="option3" placeholder="Opción 3"required>
      <input type="text" name="option4" placeholder="Opción 4"required>

      <label>Respuesta correcta:</label>
      <input type="text" name="correctAnswer" required>

      <button type="submit" class="btn primary">Guardar Pregunta</button>
      <a href="/admin" class="btn">Volver</a>
    </form>
  </div>
</body>
</html>

